USE [master]
GO
/****** Object:  Database [Company]    Script Date: 03.12.2025 21:04:53 ******/
CREATE DATABASE [Company]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Company.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Company_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Company_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company]
GO
/****** Object:  Table [dbo].[Материал]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материал](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
	[Тип материала] [int] NULL,
 CONSTRAINT [PK_Материал] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Партнер]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партнер](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип партнера] [int] NULL,
	[Наименование партнера] [nvarchar](70) NULL,
	[Директор] [nvarchar](50) NULL,
	[Электронная почта партнера] [nvarchar](50) NULL,
	[Телефон партнера] [nvarchar](15) NULL,
	[Юридический адрес партнера] [nvarchar](80) NULL,
	[ИНН] [float] NULL,
	[Рейтинг] [int] NULL,
 CONSTRAINT [PK_Партнер] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставка продукта]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставка продукта](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Продукция] [int] NULL,
	[Код партнера] [int] NULL,
	[Количество продукции] [int] NULL,
 CONSTRAINT [PK_Поставка продукта] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукт]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукт](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип продукции] [int] NULL,
	[Наименование продукции] [nvarchar](80) NULL,
	[Артикул] [int] NULL,
	[Минимальная стоимость для партнера] [float] NULL,
 CONSTRAINT [PK_Продукт] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав продукта]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав продукта](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Материал] [int] NULL,
	[Продукт] [int] NULL,
 CONSTRAINT [PK_Состав продукта] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип материала]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип материала](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип материала] [nvarchar](30) NULL,
	[Процент брака материала ] [float] NULL,
 CONSTRAINT [PK_Тип материала] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип партнера]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип партнера](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](4) NULL,
 CONSTRAINT [PK_Тип партнера] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип продукта]    Script Date: 03.12.2025 21:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип продукта](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип продукции] [nvarchar](30) NULL,
	[Коэффициент типа продукции] [float] NULL,
 CONSTRAINT [PK_Тип продукта] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Партнер] ON 

INSERT [dbo].[Партнер] ([Код], [Тип партнера], [Наименование партнера], [Директор], [Электронная почта партнера], [Телефон партнера], [Юридический адрес партнера], [ИНН], [Рейтинг]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432460000, 5)
INSERT [dbo].[Партнер] ([Код], [Тип партнера], [Наименование партнера], [Директор], [Электронная почта партнера], [Телефон партнера], [Юридический адрес партнера], [ИНН], [Рейтинг]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803890000, 3)
INSERT [dbo].[Партнер] ([Код], [Тип партнера], [Наименование партнера], [Директор], [Электронная почта партнера], [Телефон партнера], [Юридический адрес партнера], [ИНН], [Рейтинг]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430390000, 4)
SET IDENTITY_INSERT [dbo].[Партнер] OFF
GO
SET IDENTITY_INSERT [dbo].[Поставка продукта] ON 

INSERT [dbo].[Поставка продукта] ([Код], [Продукция], [Код партнера], [Количество продукции]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[Поставка продукта] ([Код], [Продукция], [Код партнера], [Количество продукции]) VALUES (3, 1, 3, 1000)
INSERT [dbo].[Поставка продукта] ([Код], [Продукция], [Код партнера], [Количество продукции]) VALUES (4, 3, 4, 9500)
SET IDENTITY_INSERT [dbo].[Поставка продукта] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукт] ON 

INSERT [dbo].[Продукт] ([Код], [Тип продукции], [Наименование продукции], [Артикул], [Минимальная стоимость для партнера]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100)
INSERT [dbo].[Продукт] ([Код], [Тип продукции], [Наименование продукции], [Артикул], [Минимальная стоимость для партнера]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, 1880)
INSERT [dbo].[Продукт] ([Код], [Тип продукции], [Наименование продукции], [Артикул], [Минимальная стоимость для партнера]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, 2080)
SET IDENTITY_INSERT [dbo].[Продукт] OFF
GO
SET IDENTITY_INSERT [dbo].[Тип материала] ON 

INSERT [dbo].[Тип материала] ([Код], [Тип материала], [Процент брака материала ]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[Тип материала] ([Код], [Тип материала], [Процент брака материала ]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[Тип материала] ([Код], [Тип материала], [Процент брака материала ]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[Тип материала] OFF
GO
SET IDENTITY_INSERT [dbo].[Тип партнера] ON 

INSERT [dbo].[Тип партнера] ([Код], [Наименование]) VALUES (1, N'ЗАО')
INSERT [dbo].[Тип партнера] ([Код], [Наименование]) VALUES (2, N'ООО')
INSERT [dbo].[Тип партнера] ([Код], [Наименование]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Тип партнера] OFF
GO
SET IDENTITY_INSERT [dbo].[Тип продукта] ON 

INSERT [dbo].[Тип продукта] ([Код], [Тип продукции], [Коэффициент типа продукции]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Тип продукта] ([Код], [Тип продукции], [Коэффициент типа продукции]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Тип продукта] ([Код], [Тип продукции], [Коэффициент типа продукции]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[Тип продукта] OFF
GO
ALTER TABLE [dbo].[Материал]  WITH CHECK ADD  CONSTRAINT [FK_Материал_Тип материала] FOREIGN KEY([Тип материала])
REFERENCES [dbo].[Тип материала] ([Код])
GO
ALTER TABLE [dbo].[Материал] CHECK CONSTRAINT [FK_Материал_Тип материала]
GO
ALTER TABLE [dbo].[Партнер]  WITH CHECK ADD  CONSTRAINT [FK_Партнер_Тип партнера] FOREIGN KEY([Тип партнера])
REFERENCES [dbo].[Тип партнера] ([Код])
GO
ALTER TABLE [dbo].[Партнер] CHECK CONSTRAINT [FK_Партнер_Тип партнера]
GO
ALTER TABLE [dbo].[Поставка продукта]  WITH CHECK ADD  CONSTRAINT [FK_Поставка продукта_Партнер] FOREIGN KEY([Код партнера])
REFERENCES [dbo].[Партнер] ([Код])
GO
ALTER TABLE [dbo].[Поставка продукта] CHECK CONSTRAINT [FK_Поставка продукта_Партнер]
GO
ALTER TABLE [dbo].[Поставка продукта]  WITH CHECK ADD  CONSTRAINT [FK_Поставка продукта_Продукт] FOREIGN KEY([Продукция])
REFERENCES [dbo].[Продукт] ([Код])
GO
ALTER TABLE [dbo].[Поставка продукта] CHECK CONSTRAINT [FK_Поставка продукта_Продукт]
GO
ALTER TABLE [dbo].[Продукт]  WITH CHECK ADD  CONSTRAINT [FK_Продукт_Тип продукта] FOREIGN KEY([Тип продукции])
REFERENCES [dbo].[Тип продукта] ([Код])
GO
ALTER TABLE [dbo].[Продукт] CHECK CONSTRAINT [FK_Продукт_Тип продукта]
GO
ALTER TABLE [dbo].[Состав продукта]  WITH CHECK ADD  CONSTRAINT [FK_Состав продукта_Материал] FOREIGN KEY([Материал])
REFERENCES [dbo].[Материал] ([Код])
GO
ALTER TABLE [dbo].[Состав продукта] CHECK CONSTRAINT [FK_Состав продукта_Материал]
GO
ALTER TABLE [dbo].[Состав продукта]  WITH CHECK ADD  CONSTRAINT [FK_Состав продукта_Продукт] FOREIGN KEY([Продукт])
REFERENCES [dbo].[Продукт] ([Код])
GO
ALTER TABLE [dbo].[Состав продукта] CHECK CONSTRAINT [FK_Состав продукта_Продукт]
GO
USE [master]
GO
